Q1. Create one variable containing following type of data: (i) string (ii) list (iii) float (iv) tuple

In [1]:
s = "Adarsh"    #String
l = [15,22.5,"PW Skills",True,6+8j]     #list
f = 240.5148     #Float
t = (13, 15 ,[19,22,80], "PWSKILLS")

Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1

In [3]:
var1 = ''     #String
type(var1)

str

In [4]:
var2 ='[ DS , ML , Python]'  #String
type(var2)

str

In [5]:
var3 = [ 'DS' , 'ML' , 'Python' ] #List
type(var3)

list

In [6]:
var4 = 1.  #Float
type(var4)

float

Q3. Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

In [7]:
# '/': It is use to divide two numbers .
4/3

1.3333333333333333

In [8]:
# '%' : It is used to find the remainder after the division.
4%3

1

In [9]:
# '//': It is used as floor function.
4//3

1

In [10]:
# '**': It is used as the power function.
4**3

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [11]:
l=[45,75.57,36,58,"pwskills","Adarsh",True,4+9j]
for i in l:
    print(i)

45
75.57
36
58
pwskills
Adarsh
True
(4+9j)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [12]:
a = int ( input("Enter the value of A"))
b = int ( input("Enter the value of B"))
c=0
while a % b == 0 :
    c=c+1
    a = a/b
print(c)

Enter the value of A 8
Enter the value of B 2

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [14]:
s=list( range(25))

In [15]:
for i in s:
    if s[i]%3==0 :
        print( s[i])

0
3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
"""Mutable data types are those whose values can be changed or new values can be assigned to them.
examples : List, Sets, and Dictionary

In [16]:
#List
l =[2,3,4,5,8,9,"Adarsh",True,5+7j]
l[3]="Adi"

In [17]:
l

[2, 3, 4, 'Adi', 8, 9, 'Adarsh', True, (5+7j)]

In [18]:
"""Immutable data types in python are those whose values cannot be changed once initialized.
examples : int, float, string, frozen set, tuple, etc.

In [20]:
#String
s= "Adarsh"
s[3]=i

TypeError: 'str' object does not support item assignment